$plugin_background_color: rgb(148, 164, 214);
#consent {
  width: 600px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $plugin_background_color;
}

.consent_only {
  h2 {
    text-align: center;
    margin-top: 5%;
  }

  p {margin: 5% 10%;}

  button {
    padding: 3px 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 0;
  }
}
